########################################
# Python
########################################

__pycache__/
*.py[cod]
*$py.class

*.so
*.pyd
*.pyo

venv/
.env/
.env.*
.venv/

pip-log.txt
pip-delete-this-directory.txt

########################################
# Machine Learning
########################################

*.h5
*.model
*.pkl
*.joblib
*.onnx

########################################
# Logs
########################################

*.log

########################################
# Dataset (isteğe bağlı)
########################################

data/*.csv
data/*.log

########################################
# Jupyter
########################################

.ipynb_checkpoints

########################################
# .NET / Visual Studio
########################################

bin/
obj/

.vs/
*.user
*.suo
*.cache
*.pdb

########################################
# ASP.NET Build
########################################

LogNomaly.Web/bin/
LogNomaly.Web/obj/
LogNomaly.Web/appsettings.json

########################################
# JetBrains IDE
########################################

.idea/

########################################
# OS files
########################################

.DS_Store
Thumbs.db

########################################
# Docker
########################################

docker-compose.override.yml

########################################
# Secrets
########################################

.env
*.key
*.pem

data/*.log
data/*.csv

